/* 
.filterScreen {
    display: none;
}

.filterScreen.active {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
  
}

.container {
    background-color: rgb(205, 203, 203);
    box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    width: 50vw;


}


@media (min-width: 700px){
    .filterScreen.active {
    justify-content: flex-end;
    background-color: transparent;
    }
    .container {
        width: 50vw; 
        height: 100vh;
        box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    }

} */

.filterScreen {
    display: none;
}

.filterScreen.active {
    display: flex;
    justify-content: center; 
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;   
    height: 100%;  

    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* PC-skjermer */
@media (min-width: 700px){
    .filterScreen.active {
        justify-content: flex-end;
    }

    .container {
        width: 50vw; 
        height: 100vh;
        box-shadow: -4px 0 10px rgba(0,0,0,0.1);
        background-color: rgb(241, 241, 241);
    }
}
