
#topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background: transparent;
  transition: background  250ms ease-in;
}

#topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 300;
}

#topnav.scrolled {
    background-color: rgb(34, 150, 71) !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background: transparent;
    transition: background  250ms ease-in;

}

#topnav a.scrolled {
    background: #671515 !important;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 300;
    height: 50px; 
}